@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fabada';
    src: url('../js/fonts/Fabada-regular.ttf')
    /* Môžete pridať ďalšie vlastnosti, ako napríklad font-weight, font-style atď. */
}

.specify-font {
    font-family: Fabada;
    font-weight: 600;
}

.center-div {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-axis-y {
    top: 50%;
    transform: translate( 0, -50%);
  }
